body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 24px;
    color: #333;
}
label {
    font-size: 18px;
    color: #333;
}

input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

textarea{
background-color: #949494;
width: 400px; 
height: 350px; 
padding: 10px; 
font-size: 14px; 
border: 5px solid color(black ); 
border-radius: 5px; 
resize: none;
color: white;
}
